@model IEnumerable<HearMe.BLL.DTM.UserDTM>

@{
    ViewData["Title"] = "GetUsersToConfirmList";
}
<div class="users">
    <h3>Users To Confirm List</h3>
    @if (!Model.Any())
    {
        <h2>No users to confirm</h2>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="user-container">
                <img src="@item.AvatarPath" alt="no avatar"/>
                <div class="user-info">
                    <h4 class="full-name">@item.FirstName&nbsp;@item.LastName</h4>
                    <div class="login-info">
                        <h4>Login:&nbsp;</h4>
                        <h4 class="login">@item.Login</h4>
                    </div>
                </div>
                <div class="buttons">
                    <button><a asp-action="ConfirmCommonUser" asp-route-id="@item.Id">Make common</a></button>
                    <button><a asp-action="ConfirmAdminUser" asp-route-id="@item.Id">Make admin</a></button>
                    <button><a asp-action="DeclineUser" asp-route-id="@item.Id">Decline</a></button>
                </div>
            </div>
        }
    }
</div>