@model IEnumerable<HearMe.BLL.DTM.SongDTM>

@{
    ViewData["Title"] = "Index";
}

<div class="songs-list">
    @if (TempData["SM"] != null)
    {
        <div class="alert alert-success">
            @TempData["SM"]
        </div>
    }
    <h3>Songs Administrating</h3>
    <a asp-controller="Song" asp-action="Create" class="button submit-scnd-btn">Add new song</a>
    @foreach (var item in Model)
    {
        <div class="song-container">
            <img src="@item.PreviewPath" alt="preview" />
            <div class="name-genre">
                <h5>@item.Name</h5>
                <p>@item.GenreName</p>
            </div>

            <button id="btn-play">
                <span class="material-symbols-outlined">
                    play_circle
                </span>
                <input id="path" type="hidden" value="@item.SongPath" />
            </button>
            <div class="user-login">
                <p class="user">@item.UserLogin</p>
            </div>
            <div class="buttons">
                <a asp-action="Edit" asp-controller="Song" asp-route-id="@item.Id" class="button submit-btn">Edit</a>
                <a asp-action="Details" asp-controller="Song" asp-route-id="@item.Id" class="button submit-scnd-btn">Details</a>
                <a asp-action="Delete" asp-controller="Song" asp-route-id="@item.Id" class="button reject-btn">Delete</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script>
        const playbtns = document.querySelectorAll('#btn-play');
        const player = document.getElementById("audio");
        const playPauseBtn = document.querySelector('.play-pause');
        playbtns.forEach((el) => {
            el.addEventListener("click", (ev) => {
                ev.preventDefault();
                const path = el.querySelector("#path");
                player.src = path.value;
                player.play();
                playPauseBtn.textContent = '❚❚';
            });
        });
    </script>
}

