@model IEnumerable<MyMusicPortal.Models.Genre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Genres List</h1>
@if (@Context.Session.GetString("Login") == "admin")
{
   <p>
        <a asp-action="Create" class="btn btn-info">Add Genre</a>
   </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (@Context.Session.GetString("Login") == "admin")
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
