@model IEnumerable<HearMe.BLL.DTM.SongDTM>

@{
    ViewData["Title"] = "Index";
}
<div class="songs-list">
    <h3>Songs list</h3>
    <p>
        <a asp-controller="Song" asp-action="Create">Add new song</a>
    </p>
    @foreach (var item in Model) {
        <div class="song-container">
            <img src="@item.PreviewPath" alt="preview"/>
            <div class="name-genre">
                <h5>@item.Name</h5>
                <p>@item.GenreName</p>
            </div>

            <button id="btn-play">
                <span class="material-symbols-outlined">
                    play_circle
                </span>
                <input id="path" type="hidden" value="@item.SongPath" />
            </button>
            
            <p class="user">@item.UserLogin</p>

            @if (Context.Request.Cookies["Login"] == item.UserLogin || Context.Request.Cookies["IsAdmin"]!.ToString() == "True")
            {
                 @Html.ActionLink("Edit", "Edit" ,"Song", new { /* id=item.PrimaryKey */ }) 
                 @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                 @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            }
        </div>
        <hr/>
    }
</div>
@section Scripts{
    <script>
       const playbtns = document.querySelectorAll('#btn-play');
        const player = document.getElementById("audio");
        playbtns.forEach((el) => {
            el.addEventListener("click", (ev) => {
                ev.preventDefault();
                const path = el.querySelector("#path");
                player.src = path.value;
                player.play();
            });
        });
    </script>
}

