@model IEnumerable<GuestsBook.Models.Message>
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script>
        $(document).ready(function () {

            $(".create-dialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: "Add Message",
                        close: function () { $(this).remove() },
                        modal: true,
                        buttons: {
                            "Add": function () {
                                $.ajax({
                                    url: "@Url.Action("Create", "Messages")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }
                    });
            });

            $(".edit-dialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: "Edit Message",
                        close: function () { $(this).remove() },
                        modal: true,
                        buttons: {
                            "Сохранить": function () {
                                $.ajax({
                                    url: "@Url.Action("Edit", "Messages")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                    }
                                })
                            }
                        }
                    });
            });
            $(".details-dialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: "Message Details",
                        modal: true,
                    });
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="message-container" style="padding-top: 20px;">
    @if (Context.Request.Cookies["Login"] != null)
    {
        <p style="padding-left: 10px;">
            <a asp-action="Create" asp-controller="Messages" class="create-dialog btn btn-primary">Add Message</a>
        </p>
    }

@foreach (var item in Model)
{
    <div id='message + @item.Id' class="message">
        <h5 id="user-login">@item.User!.Login</h5>
        <p id="message-text">
            @item.Mesage
        </p>
        @if (Context.Request.Cookies["Login"] == item.User.Login)
        {
            <div class="buttons-message">
                <a asp-action="Edit" asp-controller="Messages" asp-route-id="@item.Id" id="btn-change" class="edit-dialog">Change</a>
                <a asp-action="Details" asp-controller="Messages" asp-route-id="@item.Id" id="btn-details" class="details-dialog">Details</a>
                <a asp-action="Delete" asp-controller="Messages" asp-route-id="@item.Id" id="btn-delete">Delete</a>
            </div>
        }
        else
        {
            <div class="buttons-message" style="justify-content:flex-start !important">
                <a asp-action="Details" asp-controller="Messages" asp-route-id="@item.Id" id="btn-details" class="details-dialog">Details</a>
            </div>
        }
    </div>
}
</div>